@font-face{
	font-family: 'Crimson Text';
	src: url('WorkSans-Regular.ttf');
}
html	{
	font-family: 'Work Sans', serif;
	font-size: 11pt;
}
body{
	margin: auto;
}
body > h1{
	text-align: center;
}
section.feed{
	width: 17%;
	margin: 1%;
	float: left;
}
section.feed:nth-of-type(1){
	background-color: rgb(21, 252, 0);
	border: 2px solid black;
}
section.feed:nth-of-type(2){
	background-color: rgb(252, 0, 252);
	border: 2px solid black;
}
section.feed:nth-of-type(3){
	background-color: rgb(248, 252, 0);
	border: 2px solid black;
}
section.feed:nth-of-type(4){
	background-color: rgb(0, 109, 252);
	border: 2px solid black;
}
section.feed:nth-of-type(5){
	background-color: rgb(252, 0, 0);
	border: 2px solid black;
}

h2{
	margin-bottom: 0;
	font-size: 16pt;
}

a:link{
	
	color: dodgerblue;
}
h2+a:link{
	
	font-weight: bold;
}
h3{
	margin-top: 0;
	margin-bottom: 0;
	font-size: 10pt;
}
p{
	margin: 0;
}
output h1 {
	text-indent: 5px;
	font-size: 18pt;
	border-bottom: 3px solid black;
	font-size: 32px;
	overflow: hidden;
}

@media only screen 
{
    #yup
    {
        animation: rave 5s infinite;
    }
      
    @keyframes rave 
    {
        0%   {background-color:rgb(250, 161, 161);}
        25%  {background-color:rgb(251, 255, 189);}
        50%  {background-color:rgb(188, 243, 202);}
        75%  {background-color:rgb(199, 210, 255);}
        100% {background-color:rgb(255, 200, 219);}
    }
}
